.circle {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    border: white solid .5em;
    display: inline-block;
    margin: .5em .5em;
}
.circle-red {
    background-color: rgb(220, 63, 45);
}
.circle-yellow {
    background-color: rgb(224, 141, 20);
}
.circle-green {
    background-color: rgb(107, 163, 90);
}
.circle-blue {
    background-color: rgb(21, 157, 153);
}
.circle-row {
    text-align: center;
    color: white;
}
.my-container {
    background-color: lightgrey;
}
.my-row {
    background-color: lightgrey;
}
.my-header {
    background-color: lightgrey;
    padding: 1em;
}
a:link {
    color: black;
    font-family: 'Abel', sans-serif;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: blue;
}
p {
    margin-top: 42px;
}
body {
    margin: 1% 2%;
    display: inline-block;
}
* {
    box-sizing: border-box;
    justify-content: center;
}
h2, h3 {
    font-family: 'Anton', sans-serif;
}
h6 {
    font-family: 'Abel', sans-serif;
}
h1 {
    padding-top: .5em;
    font-family: 'Abel', sans-serif;
}
a  {
    padding: .5em;
}
.logo-img {
    margin-top: -2.0em;
    margin-bottom: -2.0em;
}
div>.circle {
    padding: 0;
}
@media screen and (max-width: 576px){

}
