.jumbotron {
    background-image: url("../img/pizza.png");
}
h1 {
    margin: 0 auto;
}
.card {
    margin: 10px 15px;
}
@media screen and (min-width: 500px) {
    selector {
        property: value;
    }
}