.jumbotron {
    background-image: url("../img/pizza.png");
    margin: 0;
}
h1 {
    text-align: center;
    margin: auto;
    background-color: #E6ECF0;
    width: 100%;
}
@media screen and (min-width: 500px) {
    selector {
        property: value;
    }
}