body {
    display: inline-block;
    box-sizing: border-box;
}
ul {
    margin-left: 50px;
}
.alert-info {
    visibility: hidden;
    width: 0;
}
.nav-links li {
    list-style-type: none;
    padding: 0;
    float:left;
    margin: 2em;
    display: inline;
}
img {
    margin: 0 auto;
    width: 890px;
    height: 395px;
}
.main {
    float: left;
    width: 50%;
}
.sub-section {
    float: right;
    width: 50%;
}
h1 {
    width: 25%;
    margin: 0;
    float:left;
}