body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #646464;
    background: #f0f0f0;
    font-size: 100%;
    line-height: 1.4;
}

.introsection {
    /* background-color: #444; */
}

.letterpress {
    font-family: EYInterstate, Helvetica, sans-serif;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 2px 0px #808080 ,  -1px -2px 1px #333;
    color: #222;
    font-size: 4vw;
    text-align: left;
    font-weight: 300;
    letter-spacing: -.05em;
    max-width: 60vw;
}

.container,
.staggered-animation-container {
    position: relative;
    margin-left: auto;
    max-width: 75%;
    margin-right: auto;
    font-size: .875em;
    padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
    .container,
    .staggered-animation-container {
        max-width: 700px;
    }
}
@media only screen and (min-width: 1000px) {
    .container,
    .staggered-animation-container {
        max-width: 920px;
    }
}
.container .inner,
.staggered-animation-container .inner {
    max-width: 66%;
}

.mod-inset-left {
    background: #cfcfcf;
    padding: 1.15em;
    margin: 1em 0;
}
@media only screen and (min-width: 768px) {
    .mod-inset-left {
        width: 20%;
        float: left;
        margin: 0 1em 0 0;
    }
}

.mod-inline,
.caption {
    float: right;
    clear: both;
    position: relative;
    overflow: hidden;
    width: 30%;
}
.mod-inline.left,
.caption.left {
    padding-right: 50px;
    float: left;
}
.mod-inline h3,
.caption h3 {
    font-weight: 700;
    color: #000;
    line-height: 1.2;
    font-size: 1em;
    padding-top: 1em;
    border-top: 2px solid;
    margin: 0;
}
.mod-inline p, .mod-inline li,
.caption p,
.caption li {
    font-size: .75rem;
    line-height: 1.6;
}

[class^="img"] {
    background-attachment: fixed;
    height: 200px;
    margin-bottom: 50px;
    padding: 40px;
    display: table;
    width: 100%;
}
[class^="img"] h3 {
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    text-align: center;
    color: #fff;
}
[class^="img"] + .container .caption {
    background: #fff;
    padding: 20px;
    margin-top: -50px;
}
[class^="img"] + .container .caption h3 {
    border-top: none;
    padding-top: 0;
}

.img1 {
    background: url(http://unsplash.imgix.net/9/DeepInTheForest_cre8art4life_JulieGeiger.jpg) no-repeat center bottom/cover;
    height: 100vh;
}

.img2 {
    height: 300px;
    background: url(https://unsplash.imgix.net/photo-1422513391413-ddd4f2ce3340?dpr=2&fit=crop&fm=jpg&q=75&w=1050) no-repeat center center/cover;
    background-attachment: fixed;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    /*   height: 100%; */
    overflow: hidden;
    overflow-y: auto;
}

.os-animation {
    opacity: 0;
}

.os-animation.animated {
    opacity: 1;
}